*{
 margin: 0px;
    padding: 0px;
    background-color: cyan;
}

.page-bar{
    background-color: cyan;
}
.title{
    background-color:#6b8ecf;
text-align: center;
color: rgb(250, 249, 249);

}
.m-name{
display: inline-block;
width: 80px;
}
.l-name{
    display: inline-block;
    width: 60px;
    }

.footer {
    font-size: 12px;
    padding: 15px;

  }


.from-all{
    
    background-color: rgb(28, 196, 187);
     text-align: center;
     

}
.tow{
    text-align: center;
}
.h-name{
    margin: 10px;
    padding: 10px;
    background-color: #0DCAF0;
    width: 10px;
    text-align: center;
    height: 20px ;
    display: inline-block;
    border-radius: 4px;
}
.location_form{
 width: 400px;   
 text-align: center;
}
.item{
    margin-top: 30px;
  
}
.n-name{
    height: 25px;
    margin: 10px;
    width: 210px;
}
.input-t{
    width: 90px;
     height: 25px;
     text-align: center;

}
.allign{
    text-align: center;
 
}
.dot{
width: 130px;
display: inline-block;
}
.dot-item{
margin-right: 110px;

}
.dom{
    margin-left: 5px;
}.p-name{
text-align: center;
}
.footer{
    background-color: rgb(120, 193, 206);
}
.tab{
    display: inline-block;
    border: 1px solid rgb(204, 162, 162);
    font-size: 27px;
    margin: 5px;
}
.tab-input{
    margin: 5px;
    display: inline-block;
    width: 175px;
}