@media(min-width:320px) and (max-width:400px){
        .Heading_text h1{
            font-size: 16px;
        }
    
        .from-title h6{
            font-size: 20px;
        }
        .id_section h1{
            font-size: 16px;
        }
        .social_part h1{
            font-size: 16px;
        }
        .menu_row nav ul li a{
            font-size: 12px;
        }
        .home_icon i{
            margin-top: 10px;
            font-size: 15px;
        }
        .message_icon i{
            /* margin-top: 10px; */
            /* margin-right: 5px; */
            font-size: 20px;
        }
        .profile_icon i{
            margin-top: 10px;
            font-size: 15px;
        }
      
        .heding {
           margin-left: 120px;
        }
        .nav{
            height: 40px;
        }
      .input{
    width: 95px;
    display: inline-block;
margin-left: 5px;
}
.H-name{
    text-align: center;
    display: inline-block;
    width: 80px;
    background-color: rgb(154, 187, 197);
    font-size: 15px;
}
.inpub{
    width: 130px;
}
.h-name{
    width: 80px;
border-radius: 5px;
height: 30px;
}
.table-design{
    width: 50px;
    text-align: center;
    margin-top: 20px;
}
.n-name{
        height: 25px;
        width: 140px;
    
        padding: 10px;
    }
.input-t{
    width: 80px;
    
}
.location_form{
    width: 380px;
    margin-left: 22px;
}
}
@media(min-width:401px) and (max-width:575px){
    .menu_row nav ul li a{
        font-size: 17px;
    }
    .home_icon i{
        margin-top: 10px;
        font-size: 20px;
    }
    .message_icon i{
        /* margin-top: 10px; */
        margin-right: 5px;
        font-size: 20px;
    }
    .profile_icon i{
        margin-top: 10px;
        font-size: 20px;
    }
    .nav_item ul{
        /* margin-right: 8px; */
    }
    .Heading_text h1{
        /* font-size: 19px; */
    }
    .id_section h1{
        font-size: 19px;
    }
    .social_part h1{
        font-size: 17px;
    }
}
@media(min-width:320px) and (max-width:575px){
    .location_form span{
        margin-right: 10px;
    }
    .location_form h5{
        margin-right: 5px;
    }
}
@media(min-width:320px) and (max-width:767px){
    .about_form .gender{
        width: 95%;
    }
   
}
@media(min-width:768px) and (max-width:991px){
    .about_form .gender{
        width:31%;
        

    }
  
   
}
